
/*!
 *   POS and Inventory System
 *   Author: posis team
 *   Website: POS-IS
!*/
/*
 * Core: Custom Layout Style
 * ---------------------------
 */

.content.page{
  margin-top: 65px;
  background: #fff;
}

.panel .panel-heading .row .col-xs-12{min-height: 120px;}
.list-item-content{overflow-y:auto; height: 235px;}
  .list-item-content::-webkit-scrollbar{width:8px;
    background-color:transparent;
  }
  .list-item-content::-webkit-scrollbar-track{
  border:1px solid #ddd;
  border-top:none;
  border-bottom: none;
}
.list-item-content::-webkit-scrollbar-thumb{
  background-color:#999;
}
.list-item-content::-webkit-scrollbar-thumb:hover{
  background-color:#00a65a;
}
.list-item-content::-webkit-scrollbar-thumb:active{
  background-color:#00a65a;
}

  .list-item-content::-moz-scrollbar{width:8px;
    background-color:#cccccc;
  }
  .list-item-content::-moz-scrollbar-track{
  border:1px gray solid;
  border-radius:10px;
  -webkit-box-shadow:0 0 6px gray inset;
}
.list-item-content::-moz-scrollbar-thumb{
  background-color:#009cf3;
  border-radius:10px;
}
.list-item-content::-moz-scrollbar-thumb:hover{
  background-color:#00a65a;
  border:1px solid #333;
}
.list-item-content::-moz-scrollbar-thumb:active{
  background-color:#00a65a;
  border:1px solid #333333;
}
.totaldiv{font-weight: bold;}

i.fa.fa-trash{color: #dd4b39;}

.well .table > thead > tr > th,
.well .table > tbody > tr > th,
.well .table > tfoot > tr > th,
.well .table > thead > tr > td,
.well .table > tbody > tr > td,
.well .table > tfoot > tr > td {
  border-top: 1px solid #f4f4f4;
  width:100%;
}
table td a{color: #333;}

.col-xs-12 .row .col-xs-6 button .fa-2x{margin-top: -5px;}
.col-xs-12 .row .col-xs-6 button span{width: 100%; float: left;}

#selected-category .selected{color: #000; pointer-event:none;}

.dropdown-menu li a p{font-style: italic; float: right; margin: 0;}

.dropdown ul.col-md-12{padding: 20px 10px!important;}
.dropdown ul.col-md-12 li{padding: 10px 0; display: inline-block;}
.dropdown-menu li a p.origin-sh{text-align: center; float: none;}
.dropdown-menu li .col-md-4{border: 1px solid transparent;}
.dropdown-menu li .col-md-4:hover{border: 1px solid #ddd;}

.detailed-col tbody tr{cursor: pointer; border: 1px solid transparent;}
.detailed-col tbody tr:hover{background: #dff0d8;}
.detailed-col tbody tr.selected td{background: #dff0d8;}

.horizon{padding: 0!important; display: inline-block; width: 100%;}
.detailed-col{
  padding: 0!important;
  border-right: 1px solid rgba(196, 199, 203, 0.59);
}

.slimscroll{
  height: 435px;
  overflow-y: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
}
.slimscroll::-webkit-scrollbar-track:hover {
  background-color: #ddd!important;
}
.slimscroll table{margin-bottom: 0;}
.slimscroll table tbody tr td:first-child, .slimscroll-head table thead tr th:first-child{
    width: 15%;
}
.slimscroll table tbody tr td:nth-child(2), .slimscroll-head table thead tr th:nth-child(2){
    width: 30%;
}
.slimscroll table tbody tr td:nth-child(3), .slimscroll-head table thead tr th:nth-child(3){
    width: 35%;
}
.slimscroll table tbody tr td:last-child, .slimscroll-head table thead tr th:last-child{
    width: 20%;
}

.slimscroll-head {
   display: block;
   width: 100%;
   border-bottom: 1px solid #ddd;
}

.li-list, .li-list .li-item {
  margin: 0;
  padding: 0;
}
.li-list{
 height: 280px;
  overflow-y: auto;
}
.li-list::-webkit-scrollbar-track:hover {
  background-color: #ddd!important;
}

.li-list::-webkit-scrollbar, .slimscroll::-webkit-scrollbar{width:8px;
    background-color:transparent;
  }
  .li-list::-webkit-scrollbar-track, .slimscroll::-webkit-scrollbar-track{
  border:1px solid #ddd;
}
.li-list::-webkit-scrollbar-thumb, .slimscroll::-webkit-scrollbar-thumb{
  background-color:#999;
}
.li-list::-webkit-scrollbar-thumb:hover, .slimscroll::-webkit-scrollbar-thumb:hover{
  background-color:#00a65a;
}
.li-list::-webkit-scrollbar-thumb:active, .slimscroll::-webkit-scrollbar-thumb:active{
  background-color:#00a65a;
}

.bordered{
  border-right: 1px solid #ddd;
}

.event-none{pointer-events:none;}


.li-list, .li-list .li-item {
	margin: 0;
	padding: 0;
}
.li-list .li-item {
	list-style-type: none;
}
.li-left, .li-body {
	vertical-align: top!important;
	display: inline-block;
}
.li-body{
	padding: 10px;
	border-left: 1px solid #ddd;
}
.li-left {
	width: 150px!important;
	padding: 10px 0;
}
.pad10 {
	padding: 10px;
}
.pad-right{
	padding-right: 0;
}
.pad10top{
	padding: 10px 0;
}
.header-pane {
    display: inline-block;
    width: 97%;
    padding: 0 18px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 10;
    margin-top: 0;
}
.title-pane {
	font-family: "Helvetica", sans-serif;
	color: #008D4C;
	padding: 0;
}

.body-content{
	margin-top: 55px;
}

.icon_gen{
	float: right;
    margin-top: 20px;
    margin-right: 15px;
}
.icon_gen i{
	cursor: pointer;
}
.icon_gen .selected{
	background: #dff0d8;
}
.icon_gen a{
	padding: 5px 10px;
}

.content-wrapper{min-height: 580px!important;}

.quick-nav {
	padding: 18px 13px 0px 13px;
}
.quick-nav form.navbar-form {
	margin: 0;
	padding: 0;
}
.quick-nav form.navbar-form input[type="text"] {
	width: 300px;
}
.quick-nav button[type="submit"]{
	cursor: default;
}

section#feature-head {
	height: 250px;
	padding: 3em;
	background: #777;
}
.features-info .feature-info-col {
	background: rgba(255, 255, 255, 0.92);
	margin-bottom: 50px;
	margin-top: 150px;
	color: #333;
	border-top: 10px solid rgb(0, 176, 80);
	min-height: 200px;
}
	.features-info .feature-info-col .feature-title {
		background: #00B050;
		padding: 10px 15px;
		width: 230px;
		font-size: 2em;
		font-weight: bolder;
		color: white;
		margin-bottom: 25px;
		margin-top: -40px;
		letter-spacing: 5px;
		text-align: center;
		font-weight: bold;
	}
	.features-info .feature-info-col blockquote {
		border-left: 5px solid #eee;
		padding: 40px 20px;
		font-weight: bold;
		font-size: 24px;
		color: #777;
	}

	.features-info .feature-info-col .mid {
		margin: 60px 0 0 0;
	}

footer.index-foot {
	padding: 50px 80px;
	background: #00B050;
	font-size: 14px;
	color: white;
}

.error_msg{text-align: center; color: red;}
.navbar-form .form-group{margin-left: 10px;}

/*product category*/
.side-category{
	padding: 0;
	border-right: 1px solid #d2d2d2;
}
	.side-category .box-body{
		height: 450px;
		overflow-y: auto;
	}
	.side-category ul{
		list-style: none;
	}

	ul.category-nav{
		padding: 0;
		margin:0;
	}
	ul.category-nav li a{
		padding: 12px 5px 12px 15px;
    display: block;
    font-size: 15px;
	}
	ul.category-nav li{
		padding: 0;
		margin:0;
	}
	ul.category-nav li:hover{
		background: #00b050;
	}
	ul.category-nav li:hover a{
		color: #fff;
	}
	ul.category-nav li.active{
		background:green;
	}

.img-boxed {
	border: 1px solid #ddd;
	padding: 5px;
}

.list{
	box-shadow: none;
	border-bottom: #eee;
}
.list a{
	padding: 12px 5px 12px 15px;
    display: block;
    font-size: 15px;
}
.sorted{
	padding-bottom: 10px;
	height: 362px;
}

.sorted ul{
	padding: 0;
}
	.sorted ul li a{
		padding: 12px 5px 12px 15px;
	    display: block;
	    font-size: 15px;
	}

.sorted .panel{
	box-shadow: none;
	border-radius: none;
	margin-bottom: 0;
}
.sorted > p{
	position: absolute;
    bottom: 0;
    width: 100%;
}

.login-page .wrapper{
	background: #00B050!important;
}

.box-solid.box-success{margin-bottom: 20px;}
	.box.box-solid.box-success h3{margin:0;}

.category li{border-bottom: 1px solid #f4f4f4; padding: 12px 2px; cursor: pointer;}
.category li:hover{background: #00B050;}
	.category li a {padding: 0px 15px;cursor: pointer;font-size: 15px; color:rgb(68, 68, 68);}
	.category li img{width: 30px; height: 30px;}
		.sub-nav{margin-bottom: 0;padding-left: 0;}
		.sub-nav li a{padding: 0px 65px; color:black; position: relative;display: block;}
			.sub-nav > li{ border-bottom: none;}
				.sub-nav li:hover{background: #00B050;}
					.sub-nav li:hover a, .nav li:hover a{color:#fff;}
					.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;background-color: transparent;}

.sub-category tr, .store-items tr{cursor: pointer;}

.search_result{font-size: 15px;}

.show_info td{
	border-bottom: 1px solid #ddd;
}

.purchases{
	border-top:1px solid #ddd;
}
.side-category .dropdown-menu{
	margin: 0;
}
table.purchase tr{
	border-left: 3px solid transparent;
	cursor: pointer;
}
table.purchase tr.selected, 
table.purchase tr:hover{
  	border-left-color: #00a65a;
  	background: #fff;
}

.login-box-body .alert{padding: 8px; margin: 0;}
.login-box .alert-danger{text-align: center;}

.pos{padding: 0 15px;}
.orderline{border-right: 1px solid #ddd;}
	.orderline h4{padding: 10px;margin: 0;color: #008D4C;}

.content-header h5{margin: 0;}

.list-item-content table td input[type="number"]{height: 22px!important; font-size: 16px!important;}
.pointer{cursor: pointer;}
.pos-logs {padding: 15px; margin: 5px 0 -10px 0; border-top: 1px solid #ddd;}
.v-top { vertical-align: top; }

@media print {
	body * {
		visibility: hidden
	}


	#printContent, #printContent * {
		visibility: visible;
		padding: 0;
		margin: 2px 0;
		width: 100%;
		page-break: after;
		overflow: hidden;
	}

	#printContent {
		position: absolute;
		left: 0;
		top: 0;
		page-break: after;
	}
	#printContent .no-print {
		visibility: hidden;
	}
	#printContent img{
		width: 200px!important;
	}

	#printContent .table{
		margin: 20px 0;
	}

	.head-receipt{
		display: block!important; 
		margin-bottom: 30px;
	}

	.foot-receipt{
		display: block!important;
	}
	.foot-receipt, .totaldiv{
		margin-top: 30px;
	}

	#no-print { 
		/*display: none!important; */
	}

	#printreceipt{
		display: none!important;
	}
}