
/*

Template Name: App Landy
Author: MarkUps
Author URI: http://www.markups.io/
Description: App Landy - Single page App Landing HTML5 Template.
Version: 1.0
Tags: light, white, single page, multipurpose, one page, custom-colors, Bootstrap, responsive, html5, css3

*/


/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#FEATURES
#HOW IT WORKS
#PRICING TABLE  
#SCREENSHOT
#DOWNLOAD
#TESTIMONIAL
#PRICING TABLE
#TESTIMONIAL
#SUBSCRIBE
#CONTACT
#FOOTER
#ERROR PAGE
#RESPONSIVE STYLE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,html{
  	overflow-x:hidden;  	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	overflow-x: hidden !important;
	color: #838282;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{ 
	text-decoration: none;
	color: #2f2f2f;  
}

a:focus{
	outline: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Cabin', sans-serif;
}

h2 {
	color: #fff;  
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin: 0;
	padding-bottom: 10px;  
}

img{
 border:none;
}

/* Preloader */

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */ 
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../images/loader.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*--------------------*/
/* HEADER */
/*--------------------*/

#header{
	float: left;
	display: inline;
	width: 100%;
}


.header-inner{	
	display: inline;
	position: relative;
	float: left;	
	width: 100%;
}


.overlay{
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.overlay-green{
	background-color: rgba(0, 176, 80, 0.74);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}


.header-content {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
}


.logo-area{
	display: inline;
	float: left;
}


.logo {
  color: #fff;
  font-family: "Pacifico",cursive;
  font-size: 40px;
  font-weight: bold;
}


.logo:hover,
.logo:focus{
	text-decoration: none;
	outline: none;
	color: #fff;
}


.menu-area{
	display: inline;	
}


.main-wrap{
	position: relative;
}



.download-btn{
	border-radius: 3px;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	margin-top: 30px;
	opacity: 0.8;
	text-align: center;
	width: 180px;
	-webkit-transition: all 0.5s ease 0s;;
	-o-transition: all 0.5s ease 0s;;
	transition: all 0.5s ease 0s;;
}


.download-btn:hover,
.download-btn:focus{
	text-decoration: none;
	outline: none;
	color: #fff;
	opacity: 1;
}




/*--------------------*/
/* FEATURES */
/*--------------------*/


#features{
	background-color: #fff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}


.title-area {
	display: inline;
	float: left;
	padding: 0 150px;  
	text-align: center;
	width: 100%;
}


.title-area .title {
	border-bottom: 2px solid #ccc;
	color: #777;
	display: inline-block;
	font-size: 33px;
	font-weight: 700;
	padding-bottom: 20px;
	position: relative;
	text-transform: uppercase;
}


.title-area .title::before {
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 60px;
	width: 150px;
}


.title-area p{
	color: #777777;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.8;
	padding: 20px 0 30px;
}


.features-area{
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}


.features-left {
	display: inline;
	float: left;  
	width: 100%;
}


.features-list li {
	float: left;
	padding: 25px 0;
	position: relative;
}


.features-list li:hover .fa{
	color: #fff;
}


.features-list li i{
	background-color: #777;	
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 35px;
	height: 90px;
	line-height: 93px;
	margin: 20px auto;
	position: absolute;
	text-align: center;
	top: 10px;
	transition: all 0.5s ease 0s;
	width: 90px;
}


.features-list-left li i {
  	left: 0;
}


.features-list-left .features-content{
	padding-left: 115px;
}


.features-content{
	float: left;
	display: inline;
	width: 100%;
}


.features-content h4 { 
	font-size: 18px;
	text-transform: uppercase;
}


.features-content p{
	font-size: 15px;	
}


.feature-img {
	display: inline;
	float: left;
	padding: 0 30px;
	text-align: center;
	width: 100%;
}


.feature-img img {
  	width: 100%;
}


.features-right{
	display: inline;
	float: left;	
	width: 100%;	
}


.features-list-right li i {
  	right: 0;
}


.features-list-right .features-content{
	padding-right: 115px;
}


/*--------------------*/
/* HOW IT WORKS */
/*--------------------*/


#howit-works {
	background-attachment: fixed !important;
	background-image: url(../../images/download.jpg);
	background-repeat: repeat;  
	background-size: cover;  
	color: #ffffff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}


.howit-works-area{
	display: inline;
	float: left;
	width: 100%;
}


.howit-works-area .title{
	color: #fff;
}


.howit-works-area .title-area p{
	color: #fff;
}


.howit-works-video{
	background: rgba(0, 0, 0, 0) url("assets/images/macbook-pro.png") no-repeat scroll center 100% / 100% auto;
	margin: 0 auto;
	max-width: 700px;
	padding: 70px 0 60px;
	position: relative;
	z-index: 10;
}


.howit-works-video iframe {
	border: medium none;
	margin-bottom: 20px;
	margin-left: 135px;
	width: 428px;
}


/*--------------------*/
/* PRICING TABLE */
/*--------------------*/


#pricing-table {
	background-attachment: fixed !important;
	background-image: url(../../images/feature-bg.jpg);
	background-repeat: repeat;  
	background-size: cover;  
	color: #ffffff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}


.pricing-table-content {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}


.single-plan {
	display: inline;
	float: left;
	width: 100%;
	background-color: #f0f0f0 ;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.single-plan:hover{  
  	box-shadow: 0 2px 20px #ccc;
}


.feature-price .single-plan-head p>span{
	color: #fff;
}


.single-plan-head {
	background-color: #424242;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}


.single-plan-head h5 {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 5px;
	text-transform: uppercase;
}


.single-plan-head p {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
}


.single-plan-head p > span {
	font-weight: normal;
	font-size: 15px;
}


.single-plan-content {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}


.single-plan-content ul{
	text-align: center;
}


.single-plan-content ul li {
	border-bottom: 1px solid #fff;
	padding: 15px 10px;
}


.single-plan-content ul li.delete{	
	text-decoration: line-through;
}


.single-plan-content ul li:last-child{
	border: none;
}


.single-plan-bottom {
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}


.single-plan-bottom .signup-btn {
	border-radius: 3px;
	border: 1px none transparent;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	opacity: 0.8;
	padding: 15px 50px;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.single-plan-bottom .signup-btn:hover{
	border-color: 1px solid #fff;
	opacity: 1;
}



/*--------------------*/
/* FEATURES */
/*--------------------*/


#featured {
  background-attachment: fixed !important;
  /*background-image: url("../../build/images/pc_img.png");*/
  background-image: url(../../images/pc_img.png);
  background-repeat: repeat;
  background-size: cover;
  color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}


.featured-overlay {
  background: rgba(15, 22, 30, 0.8) none repeat scroll 0 0;
  color: #ffffff;
  display: inline;
  float: left;
  padding: 90px 0;
  width: 100%;
}


#featured .title,
#featured .title-area p{
	color: #fff;
}


.featured-content{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}


.single-desc {
	border: 2px solid #fff;
	border-radius: 4px;
	display: inline-block;
	margin: 0 15px;
	padding: 18px 25px;
	width: 25%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-decoration: none;
}


.download-icon{
	display: inline;
	float: left;
	width: 60px;
	color: #fff;
}


.download-icon i {
  font-size: 40px;
  margin-top: 5px;
}


.feature-content {
  display: inline;
  /*float: left;*/
  text-align: center;
  /*margin-left: 5px;*/
}


.feature-content p {
	color: #f8f8f8;
	font-size: 15px;
	margin-bottom: 3px;
}


.feature-content span{
	color: #fff;
	font-size: 18px;
	font-weight: bold;

}



/*--------------------*/
/* TESTIMONIAL */
/*--------------------*/


#testimonial{
	background-color: #fff;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}


.testimonial-slider {
	background-color: #f7f7f7;
	display: inline;
	float: left;
	padding: 40px;
	width: 100%;
	border: 1px solid #ddd;
}


.testimonial-single-slide {
	display: inline;
	float: left;
	padding: 75px 50px 20px;
	text-align: center;
	width: 100%;
}


.testi-avatar {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #ddd;
	border-radius: 50%;
	height: 90px;
	display: inline-block !important;
	margin-top: -80px;
	padding: 2px;
	width: 90px;
}


.testi-name {
	color: #404244;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 10px 0 0;
	text-align: center;
	text-transform: uppercase;
}


.testi-company{
	font-size: 14px;
	text-align: center;
}


.testi-text {
	color: #8d959d;
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
	line-height: 25px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}


.testi-text:before{
	content: '\f10d';
	position: absolute;
	font-family: fontAwesome;
	left: -10px;
	top: -20px;
}


.testimonial-slider .slick-dots {
	bottom: 15px;
	margin-left: -40px;
}


.testimonial-slider .slick-dots li {
	background: #ccc none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	position: relative;
	width: 20px;
}


.testimonial-slider .slick-dots li.slick-active {
  	opacity: 1;
}


.testimonial-slider .slick-dots li button::before{
	display: none;
}


/*--------------------*/
/* SUBSCRIBE */
/*--------------------*/


#subscribe{
	background-attachment: fixed !important;
	background-image: url("assets/images/subscribe-bg.jpg");
	background-repeat: repeat;
	background-size: cover;
	color: #ffffff;
	display: inline;
	float: left;
	width: 100%;
}


#subscribe .title,
#subscribe .title-area p{
	color: #fff;
}


#subscribe .title-area .title::before {  
  	width: 250px;
}


.subscribe-content{
	display: inline;
	float: left;
	width: 100%;
}


.subcr-form {
	margin: 0 auto;
	position: relative;
	width: 800px;
}


.subcr-form i {
	font-size: 30px;
	left: 20px;
	position: absolute;
	top: 17px;
}


.subcr-form input[type="text"] {
	color: #555;
	float: left;
	font-size: 18px;
	height: 65px;
	padding-left: 60px;
	padding-right: 155px;
	width: 100%;
}


.subcr-form .subcr-btn {
	border: medium none;
	font-size: 20px;
	font-weight: bold;
	height: 65px;
	opacity: 0.8;
	padding: 10px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	width: 150px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.subcr-form .subcr-btn:hover,
.subcr-form .subcr-btn:focus{
	opacity: 1;
}


/*--------------------*/
/* CONTACT */
/*--------------------*/


#contact{
	background-color: rgba(15, 22, 30, 0.8);
	background-image: url(assets/images/contact-bg.png);
	background-repeat: no-repeat;
	display: inline;
	float: left;
	width: 100%;
	padding: 90px 0;
}


#contact .title,
#contact .title-area p{
	color: #fff;
}


.contact-area {
	display: inline;
	float: left;
	margin-top: 20px;
	padding: 0 150px;
	width: 100%;
}


.contact-form{}
.contact-form input{
	height: 45px;
	border-radius: 0;
}


.contact-form textarea {
	border-radius: 0;
	height: 250px;
	padding: 15px;
}


.contact-form .form-control {
	background-color: rgba(15, 22, 30, 0.8);  
	color: #ffffff;
	font-size: 16px;
	box-shadow: none;
}


.contact-form.form-control::-webkit-input-placeholder {
	color: #ffffff;
	font-size: 16px;
}


.contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #ffffff;
	font-size: 16px;
}


.contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #ffffff;
	font-size: 16px;
}


.contact-form .form-control:-ms-input-placeholder {  
    color: #ffffff;
   	font-size: 16px;
}


.send-area{
	display: inline;
	float: left;
	text-align: center;
	margin-top: 15px;
	width: 100%;
}


.send-btn {
	background-color: transparent;
	border: 1px solid #ccc;
	color: #fff;
	display: inline-block;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	width: 150px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#footer {
	background-color: #00B050;
	display: inline;
	float: left;
	padding: 40px 0;
	width: 100%;
}


.footer-social{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}


.footer-social a{
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin: 5px;
}


.footer-text{
	display: inline;
	float: left;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}


.footer-text p{
	margin-bottom: 0;
	color: #fff;
}


.footer-text p a{
	color: #fff;
	text-decoration: none;
}


/*--------------------*/
/* ERROR PAGE */
/*--------------------*/


#error{
	display: inline;
	float: left;
	width: 100%;
}


.error-area {
  display: inline;
  float: left;
  padding: 150px 0;
  text-align: center;
  width: 100%;
}


.error-group{
	display: inline;
	float: left;
	width: 100%;
}


.error-group h1{
	color: #979797;
	font-size: 80px;
	margin-bottom: 25px;
}


.error-group h1 span {
  border: 1px solid #cccccc;
  display: inline-block;
  margin-left: 5px;
  overflow: hidden;
  padding: 2px;
}


.error-group h1 span strong {
  border: 1px solid #cccccc;
  display: inline-block;
  font-weight: normal;
  padding:  15px 20px;
}


.error-group h2 {
  color: #979797;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  line-height: 55px;
}


.error-group h2 span{
	display: block;
	font-size: 30px;
}


.home-btn a{
	text-decoration: none;
	outline: none;
}



/*======================///////////////
			START RESPONSIVE STYLE
=====================///////////////////////*/


@media(max-width:1199px ){
	.feature-img {
	  padding: 0;  
	}
	.features-list li {
	  padding: 10px 0;  
	}
	.features-list li i { 
	  top: 0px;  
	}
	.single-download {
	  padding: 18px 10px;
	}
	#menu-btn {
	  right: 50px;  
	}
}


@media(max-width:991px ){
	.features-list li {
	  margin-bottom: 20px;
	}
	.feature-img img {
	  width: auto;
	}
	.features-list-right li i {
	  left: 0;
	  right: auto;
	}
	.features-list-right .features-content {
	  padding-left: 115px;
	  padding-right: 0;
	}
	.features-left {  
	  margin-bottom: 30px;
	}
	.features-right {  
	  margin-top: 30px;
	}
	.features-list li i { 
	  font-size: 25px;
	  height: 70px;
	  line-height: 70px; 
	  width: 70px;
	}
	.title-area {
	  padding: 0 50px;  
	}
	.single-plan {  
	  margin-bottom: 25px;
	}
	.single-download {
		margin: 0 8px;
		padding: 18px 5px; 
		width: 30%;
	}
	.subcr-form {  
	  width: 95%;
	}
	.contact-area {  
	  padding: 0 100px;  
	}
}


@media(max-width:767px ){
	
	.download-btn {  
	  margin-top: 20px; 
	  width: 160px;
	}
	
	.title-area {
	  padding: 0 10px;
	}
	.howit-works-video {
	  background: none;
	  text-align: center;
	}
	.howit-works-video iframe {
	  display: inline-block;	 
	  margin-left: auto;
	  width: 90%;
	}
	.slick-prev {
	  left: 6px;
	  z-index: 999;
	}
	.slick-next {
	  right: 5px;
	}
	.download-icon i {
	  font-size: 35px; 
	}
	.download-icon {
	  width: 45px;
	}
	.download-content p {  
	  font-size: 13px;  
	}
	.download-content span {	 
	  font-size: 15px;
	}
	.contact-area {
	  padding: 0 50px;
	}
	
}

@media(max-width:480px ){
	.main-nav {
		padding-top: 10px;
	  width: 200px;
	}
	.main-nav ul li a {
	  font-size: 14px;
	  padding: 8px 35px;
	}	
	
	
	.download-btn {  
	  margin-top: 20px; 
	  width: 160px;
	}
	
	.title-area {
		padding: 0;
	}
	.howit-works-video {
	  background: none;
	  text-align: center;
	}
	.howit-works-video iframe {
	  display: inline-block;	 
	  margin-left: auto;
	  width: 90%;
	}
	.slick-prev {
	  left: 6px;
	  z-index: 999;
	}
	.slick-next {
	  right: 5px;
	}
	.single-download {
	  margin: 0 8px 20px;	 
	  width: 100%;
	}
	.download-icon {
	  width: 60px;
	}
	.download-icon i {
	  font-size: 40px; 
	}	
	.download-content p {  
	  font-size: 15px;  
	}
	.download-content span {	 
	  font-size: 18px;
	}
	.contact-area {
	  padding: 0 50px;
	}
	.title-area .title {  
	  font-size: 25px; 
	  padding-bottom: 10px;  
	}
	.title-area .title::before {
	  top: 50px;
	}
	.view-btn {
	  margin-right: 25%;
	}	

}


@media(max-width:360px ){	
	
	.download-btn {
	  font-size: 15px;
	  width: 150px;
	}
	
	.title-area .title {
	  font-size: 20px;
	}
	.title-area .title::before {
	   width: 85px;
	}
	#subscribe .title-area .title::before {
	  width: 145px;
	}
	.title-area p {
	  font-size: 14px;
	}
	.features-content h4 {
	  font-size: 16px;
	}
	.features-content p {
	  font-size: 14px;
	}
	.features-list-left .features-content {
	  padding-left: 95px;
	}
	.features-list-right .features-content {
	  padding-left: 95px;	  
	}
	.feature-img img {
	  width: 85%;
	}
	.download-app-content { 
	  width: 95%;
	}
	.single-download {
	  padding: 18px 30px;	 
	}
	.testimonial-slider {
	  padding: 40px 10px;
	  width: 100%;
	}
	.testi-text {
	  font-size: 18px;
	  margin-top: 20px;
	}
	.subcr-form {
	  width: 100%;
	}
	.subcr-form i {
	  font-size: 25px;
	  left: 10px;
	  top: 14px;
	}
	.subcr-form input[type="text"] {
	  font-size: 14px;
	  height: 55px;
	  padding-left: 40px;
	  padding-right: 105px;
	}
	.subcr-form .subcr-btn {
	  font-size: 15px; 
	  height: 55px;  
	  width: 100px;
	}
	.contact-area {
	  padding: 0;
	}
	.testimonial-slider .slick-dots {
	  bottom: 15px;
	  margin-left: -10px;
	}
	.single-plan-head h5 {
	  font-size: 25px;
	}
	.single-plan-head p {
	  font-size: 20px;
	  line-height: 25px;
	}
	.single-plan-content ul li {
		font-size: 15px;
	}
	.single-plan-bottom .signup-btn {  
	  font-size: 16px;  
	  padding: 13px 35px;  
	}
	.footer-text p {
	  font-size: 14px;
	}
	.view-btn {
	  margin-right: 35%;
	}
	.error-area {  
	  padding: 100px 0;  
	}
	.error-group h1 { 
	  font-size: 65px;	 
	}
	.error-group h2 {  
	  font-size: 55px;
	  line-height: 50px;  
	}

}

/*back to top style*/
#scroll {
    position: fixed;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
   /* width: 50px;
    height: 50px;*/
    display: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius: 50%;
    -webkit-animation: fadeIn 1s ease;
    -moz-animation: fadeIn 1s ease;
    -o-animation: fadeIn 1s ease;
    -ms-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease;
}

#scroll i{
	color: #fff;
    padding: 15px;
    background-color: rgba(0, 176, 80, 0.74);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
}
/*end of back to top style*/

.no-padding{
	padding: 0;
}

.content{
	margin-top: 65px;
	padding: 10em 0;
}

.logo-area img{
    display: inline-block;
    margin-left: 3em;
    vertical-align: middle;
}

.header-title{
	display: inline-block;
    vertical-align: middle;
    margin: 20px 0px;
    color: #fff;
    text-align: right;
}
.header-title h1{
	font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}
.header-title .pos{
	color: #00B050;
    background: #fff;
    padding: 10px 25px;
}
.header-title .tag{
	margin: 1em 0 0 0;
    top: 0;
    color: #000;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.75em;
    margin-bottom: 20px;
}
.sign-in a{
	moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	color: #e44c65;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.75);
    padding: 10px 15px;
    border-bottom-color: transparent;
    font-weight: bold;
}
.sign-in a:hover {
	color: #fff !important;
	border-bottom-color: transparent;
	font-weight: bold;
	background: rgba(230, 77, 22, 1);
	padding: 10px 15px;
}

.pos-sec{
	padding: 0;
	display: inline-block;
}